In [1]:
#normally index change kora jai na
#reindex function use kore amra reindex korte pari

In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn
from pandas import Series,DataFrame

In [3]:
s=Series([1,2,3,4],index=['A','B','C','D'])

In [4]:
s

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
s.index

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [6]:
s.index[0]

'A'

In [7]:
s.index[0]=='X'

False

In [8]:
s.index[0]='x'

TypeError: Index does not support mutable operations

In [9]:
#immutable operation

In [10]:
s2=s.reindex(['A','B','C','D','c','D'])

In [11]:
s2

A    1.0
B    2.0
C    3.0
D    4.0
c    NaN
D    4.0
dtype: float64

In [16]:
s.reindex(['A','B','C','D','c','d','E'],fill_value=0)

A    1
B    2
C    3
D    4
c    0
d    0
E    0
dtype: int64

In [21]:
countries=Series(['Bangladesh','India','Pakistan'],index=[1,5,10])

In [22]:
countries

1     Bangladesh
5          India
10      Pakistan
dtype: object

In [25]:
countries.reindex(np.arange(20),method='ffill')

0            NaN
1     Bangladesh
2     Bangladesh
3     Bangladesh
4     Bangladesh
5          India
6          India
7          India
8          India
9          India
10      Pakistan
11      Pakistan
12      Pakistan
13      Pakistan
14      Pakistan
15      Pakistan
16      Pakistan
17      Pakistan
18      Pakistan
19      Pakistan
dtype: object

In [26]:
s=Series([1,2,3,4,5],index=['a','b','d','e','f'])

In [27]:
s

a    1
b    2
d    3
e    4
f    5
dtype: int64

In [28]:
s.reindex(['a','b','c','d','e','f'])

a    1.0
b    2.0
c    NaN
d    3.0
e    4.0
f    5.0
dtype: float64

In [29]:
#DataFrame reindexing

In [30]:
dframe=DataFrame(randn(25).reshape(5,5),index=['a','b','d','e','f'],
                columns=['col1','col2','col3','col4','col5'])

In [31]:
dframe

       col1      col2      col3      col4      col5
a  1.026316  0.074918  0.118030  1.116201 -0.330024
b  1.477371 -0.060763  0.760175  1.601840 -1.285108
d -0.760667 -0.888497  0.499072 -0.440997  0.698725
e -0.287944 -0.863659 -1.083567  1.080725  0.181958
f -0.151477 -0.169476 -0.548086  1.937506  2.135953

In [36]:
dframe2=dframe.reindex(['a','b','c','d','e','f'],fill_value=0)

In [37]:
dframe2

       col1      col2      col3      col4      col5
a  1.026316  0.074918  0.118030  1.116201 -0.330024
b  1.477371 -0.060763  0.760175  1.601840 -1.285108
c  0.000000  0.000000  0.000000  0.000000  0.000000
d -0.760667 -0.888497  0.499072 -0.440997  0.698725
e -0.287944 -0.863659 -1.083567  1.080725  0.181958
f -0.151477 -0.169476 -0.548086  1.937506  2.135953

In [38]:
dframe.reindex(['a','b','c','d','e','f'],method='ffill')

       col1      col2      col3      col4      col5
a  1.026316  0.074918  0.118030  1.116201 -0.330024
b  1.477371 -0.060763  0.760175  1.601840 -1.285108
c  1.477371 -0.060763  0.760175  1.601840 -1.285108
d -0.760667 -0.888497  0.499072 -0.440997  0.698725
e -0.287944 -0.863659 -1.083567  1.080725  0.181958
f -0.151477 -0.169476 -0.548086  1.937506  2.135953

In [41]:
dframe2=dframe.reindex(columns=['col1','col2','col3','col4','col5','col6'],fill_value='sondip')

In [42]:
dframe2

       col1      col2      col3      col4      col5    col6
a  1.026316  0.074918  0.118030  1.116201 -0.330024  sondip
b  1.477371 -0.060763  0.760175  1.601840 -1.285108  sondip
d -0.760667 -0.888497  0.499072 -0.440997  0.698725  sondip
e -0.287944 -0.863659 -1.083567  1.080725  0.181958  sondip
f -0.151477 -0.169476 -0.548086  1.937506  2.135953  sondip

In [54]:
res=dframe.ix[['a','b','c','d','e','f','g'],['col1','col2','col3','col4','col5','col6']]

C:\Users\sondip\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
C:\Users\sondip\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

In [53]:
#drop entries

In [57]:
res

       col1      col2      col3      col4      col5  col6
a  1.026316  0.074918  0.118030  1.116201 -0.330024   NaN
b  1.477371 -0.060763  0.760175  1.601840 -1.285108   NaN
c       NaN       NaN       NaN       NaN       NaN   NaN
d -0.760667 -0.888497  0.499072 -0.440997  0.698725   NaN
e -0.287944 -0.863659 -1.083567  1.080725  0.181958   NaN
f -0.151477 -0.169476 -0.548086  1.937506  2.135953   NaN
g       NaN       NaN       NaN       NaN       NaN   NaN

In [58]:
res.drop('g')

       col1      col2      col3      col4      col5  col6
a  1.026316  0.074918  0.118030  1.116201 -0.330024   NaN
b  1.477371 -0.060763  0.760175  1.601840 -1.285108   NaN
c       NaN       NaN       NaN       NaN       NaN   NaN
d -0.760667 -0.888497  0.499072 -0.440997  0.698725   NaN
e -0.287944 -0.863659 -1.083567  1.080725  0.181958   NaN
f -0.151477 -0.169476 -0.548086  1.937506  2.135953   NaN

In [59]:
res.drop('col3',axis=1)

       col1      col2      col4      col5  col6
a  1.026316  0.074918  1.116201 -0.330024   NaN
b  1.477371 -0.060763  1.601840 -1.285108   NaN
c       NaN       NaN       NaN       NaN   NaN
d -0.760667 -0.888497 -0.440997  0.698725   NaN
e -0.287944 -0.863659  1.080725  0.181958   NaN
f -0.151477 -0.169476  1.937506  2.135953   NaN
g       NaN       NaN       NaN       NaN   NaN